<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: header(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于我——L-toYthe-Xの博客</title>
</head>
<body>
<!--导航-->
<nav th:replace="_fragments :: frontNavBar(7)"></nav>

<br>
<br>
<br>
<br>
<br>

<!--中间内容-->
<div class="m-container m-padded-tb-2 animate__animated animate__fadeInLeftBig">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="eleven wide column">
                <img th:src="@{/img/spike.jpg}" alt="" class="ui rounded image m-img-max">
            </div>
            <div class="five wide column">
                <div class="ui top attached segment">
                    <div class="ui header">关于我</div>
                </div>
                <div class="ui attached segment">
                    <p class="m-text-about">
                        00后，爱游戏、爱篮球、爱音乐，对编程充满兴趣
                        <br>
                        希望我能像鲁迅先生说的那样：“愿中国青年都摆脱冷气，只是向上走，不必听自暴自弃者流的话。能做事的做事，能发声的发声。有一分热，发一分光，就令萤火一般，也可以在黑暗里发一点光，不必等候炬火。”
                    </p>
                    <p class="m-text-about">LOVEGAME,LOVELIFE</p>
                </div>
                <div class="ui attached segment">
                    <div class="ui orange basic left pointing label m-margin">编程</div>
                    <div class="ui orange basic left pointing label m-margin">运动</div>
                    <div class="ui orange basic left pointing label m-margin">游戏</div>
                    <div class="ui orange basic left pointing label m-margin">音乐</div>
                </div>
                <div class="ui attached segment">
                    <div class="ui blue basic left pointing label m-margin">Java</div>
                    <div class="ui blue basic left pointing label m-margin">Python</div>
                    <div class="ui blue basic left pointing label m-margin">C</div>
                    <div class="ui blue basic left pointing label m-margin">Linux</div>
                    <div class="ui blue basic left pointing label m-margin">MySQL</div>
                </div>
                <div class="ui bottom attached segment">
                    <a href="https://github.com/luo1509982360/" target="_blank" class="ui github circular icon button"
                       data-content="点击跳转我的GitHub主页" data-position="bottom center">
                        <i class="github icon"></i></a>
                    <button href="" class="ui circular icon button"><i class="wechat weixin icon"></i></button>
                    <button href="" class="ui qq circular icon button"><i class="qq icon"></i></button>
                    <button href="" class="ui email circular icon button" data-content="1509982360@qq.com"
                            data-position="bottom center"><i
                            class="mail icon"></i></button>
                    <button href="" class="ui steam circular icon button" data-content="843841902"
                            data-position="bottom center"><i
                            class="steam icon"></i></button>
                </div>

                <div class="ui wechatCode flowing popup transition hidden m-padded-mini-05">
                    <img th:src="@{/img/Wechat_QR_Code.jpg}" alt="" class="ui rounded image" style="width: 110px">
                </div>
                <div class="ui qqCode flowing popup transition hidden m-padded-mini-05">
                    <img th:src="@{/img/qq_QR_Code.jpg}" alt="" class="ui rounded image" style="width: 110px">
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>

<!--底部footer-->
<!--<footer th:replace="_fragments :: footer"></footer>-->
<footer th:fragment="footer" class="ui inverted verticla segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <h3 class="ui inverted header m-text-spaced m-opacity-mini">联系我</h3>
                <div class="ui inverted link list">
                    <div class="item">Email：1509982360@qq.com</div>
                    <div class="item">QQ：1509982360</div>
                </div>
            </div>
            <div class="five wide column">
                <h3 class="ui inverted header m-text-spaced m-opacity-mini">最新博客</h3>
                <div class="ui inverted link list">
                    <a th:href="@{/blog/(id=${blog.id})}" target="_blank" class="item" th:each="blog : ${newBlogs}"
                       th:text="${blog.title}">标题</a>
                </div>
            </div>
            <div class="five wide column">
                <h3 class="ui inverted header m-text-spaced m-opacity-mini">碎碎念</h3>
                <p class="m-text-spaced m-opacity-mini">
                    欢迎光临本站，这是我的个人博客，记录本人的学习笔记、编程心得、生活点滴，只要我想记录分享的内容都会在本站出现。
                    在不断学习和成长的道路上，希望与诸君共勉
                </p>
            </div>
            <div class="three wide column">
                <h3 class="ui inverted header m-text-spaced m-opacity-mini">博客信息</h3>
                <div class="ui inverted link list">
                    <div class="item">博客总数：<span style="color: #ff7272; font-size: 20px">[[${blogCount}]]</span>&nbsp;篇
                    </div>
                    <div class="item">访问总数：<span style="color: #ff7272; font-size: 20px">[[${blogSumViews}]]</span>&nbsp;次
                    </div>
                    <div class="item">留言总数：<span style="color: #ff7272; font-size: 20px">[[${blogCommentCount}]]</span>&nbsp;条
                    </div>
                </div>
            </div>
        </div>

        <div class="ui inverted section divider"></div>
        <p class="m-text-spaced m-opacity-mini">
            Copyright © 2022 L-toYthe-X Design By L-toYthe-X
        </p>
        <br>
        <div style="color: #f160a2;margin-top: -18px" class="ui inverted m-text-spaced">
            我的博客已营业：<span id="run_time" class="item"></span> （≧0≦）
        </div>
        <br>
        <a href="https://beian.miit.gov.cn/" target="_blank">湘ICP备2022010379号</a>
    </div>
</footer>


<script>
    $(".menu.toggle").click(function () {
        $(".m-item").toggleClass("m-mobile-hide")
    });

    // 运行时间统计
    function runTime() {
        var d = new Date(), str = '';
        BirthDay = new Date("May 25,2022");
        today = new Date();
        timeold = (today.getTime() - BirthDay.getTime());
        sectimeold = timeold / 1000
        secondsold = Math.floor(sectimeold);
        msPerDay = 24 * 60 * 60 * 1000
        msPerYear = 365 * 24 * 60 * 60 * 1000
        e_daysold = timeold / msPerDay
        e_yearsold = timeold / msPerYear
        daysold = Math.floor(e_daysold);
        yearsold = Math.floor(e_yearsold);
        //str = yearsold + "年";
        str += daysold + "天";
        str += d.getHours() + '时';
        str += d.getMinutes() + '分';
        str += d.getSeconds() + '秒';
        return str;
    }

    setInterval(function () {
        $('#run_time').html(runTime())
    }, 1000);

    $(".github").popup();
    $(".email").popup();
    $(".steam").popup();

    $(".wechat").popup({
        popup: $(".wechatCode"),
        position: "bottom center"
    });

    $(".qq").popup({
        popup: $(".qqCode"),
        position: "bottom center"
    });
</script>
</body>
</html>
